/* New Skyline Skin for User Interface */

@theme = "skyline_new";

// Grays
@black:             #333333; // #000; skyline brand black /not used at all
@grayDark:          lighten(@black, 25%);
@gray:              lighten(@black, 50%);
@grayLight:         #595959; // lighten(@black, 75%); skyline brand grey
@grayLighter:       lighten(@black, 90%);
//@white:             #fff;

//test grays
//@grayLighter:  lighten(@gray, 40%);
//@grayLight:  lighten(@gray, 20%);
//@gray:  #737373;
//@grayDark:  darken(@gray, 20%);

// Accents
@blue:              #075BC; //#01a8e3; skyline brand blue
@blueDark:          #158dc6; // darken(@blue, 25%); skyline brand dark blue
@blueLight:         #25a7e8; //#00c1f3; // skyline brand light blue
@blueLightest:		#ade7ff;
@green:             #a7b701;
@red:               #e42019; //#9d261d;
@yellow:            #f2e713; //#ffc40d;
@orange:            #db7500; // #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;
@white:             #fff;

@light-grey:       lighten(@black, 90%);
@dark-red:         #8A1F11;
@buttonColor:       darken(@blue, 10%);


// Palette
@bg:                #eaeaea;
@accent-1:          @blueDark;
@accent-2:          @red;
@accent-3:          @yellow;
@text:              @grayDark;
@quietColor:        lighten(@text, 50%); //only one class uses it

@boxBackground:    @grayLight;

//timeline
@valueGreen : #008000;

// Links
@linkColor:         #0069d6;
@linkColorHover:    darken(@linkColor, 15);
@linkHoverColor:    darken(@linkColor, 15);

// Border blue

@borderBlue: #1489C4;

@sansSerifFonts:    "Lucida Sans Unicode", "Lucida Grande", sans-serif;

@serifFonts:        Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

@monospaceFonts:    Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
                    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
                    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

@menuPaper: @gray;
@menuInk: @white;
@menuHoverPaper: @gray;
@menuHoverInk: @white;
@menuBorderColour: @white;
@headerBgColor: @blueDark;


//Component sizing
//@paddingLarge: 11px 19px;
//@paddingBase:  5px 8px;
//@paddingSmall: 2px 5px;
//@paddingMini: 1px 2px;

//@baseBorderRadius: 2px;
//@borderRadiusLarge: 6px;
//@borderRadiusSmall: 1px;

////////////////// BREADCRUMB ///////////////////

@breadcrumbBackground:@gray;
@breadcrumbLinkColour:@blue;
@breadcrumbColour:@blue;
@breadcrumbLinkHoverColour:@blue;
@breadcrumbBorderColour:@gray;

///////////////// FIELDSET ////////////////////



///////////////// VARIABLES ////////////////////

///////////////// GLOBAL ////////////////////
@fontFamily: @sansSerifFonts;
//@fontBaseSize: 1.0em;
//@fontSizeSmall: 0.8em;
//@fontSizeMedium: 0.9em;
//@fontSizeLarge: 1.1em;
//@fontSizeXLarge: 1.2 em;
//@linkColour: @blue;
//@linkColourHover: darken(@blue, 20%);
//@textColour
//@textColourSuccess
//@textColourWarning
@bodyBackground:url(Skins/skyline_new/images/background_cheque.png) repeat;

///////////////// COMPONENT SIZING ////////////////////
//@paddingLarge: 11px 19px;
//@paddingBase:  5px 8px;
//@paddingSmall: 2px 5px;
//@paddingMini: 1px 2px;

//@baseBorderRadius: 2px;
//@borderRadiusLarge: 6px;
//@borderRadiusSmall: 1px;


///////////////// BACKGROUND ////////////////////
//@bodyBackgroundImage
//@bodyBackgroundColour
//@containerBorder
//@containerBorderRightColour
//@containerBorderBottomColour
//@containerBorderLeftColour


///////////////// MENU ////////////////////
@menuBackgroundColourBase:@blue;
@menuBackgroundColourHover:@blue;
@menuBackgroundColourActive:@blue;
//@menuBorderColour: darken(@blue, 10%);
@menuFontColour:@white;
@menuFontColourDifferent:@blue;
//@menuBaseBorderColour:lighten(@blue, 10%);
@menuBaseBorderTopColour:@blue;
@menuBaseBorderRightColour:@blue;
@menuBaseBorderBottomColour:@blue;
@menuBaseBorderLeftColour:@blue;
@menuHoverBorderTopColour:@blue;
@menuHoverBorderRightColour:@blue;
@menuHoverBorderBottomColour:@blue;
@menuHoverBorderLeftColour:@blue;
@menuHoverBorderColour:@blue;
@menuButtonDisabled:@gray;
@menuButtonDisabledColour:@white;

///////////////// CONTAINER ////////////////////
@containerBackgroundColour: @white;
@containerBorderTopColour: @blue;
///////////////// FIELDSET ////////////////////
//@fieldsetBackground
//@fieldsetBorder
//@filedsetBorderColor
//@fieldsetLabelColour
//@fieldsetTextColor
//@fieldsetTextWarningColour
//@legendBackgroundColor


///////////////// FORM BUTTON BASE //////////////////////
@formButtonBackgroundBaseColour:@blue;
@formButtonBackgroundHoverColour:@blue;
@formButtonBackgroundActiveColour:@blue;
//@formButtonBackgroundDisabledColour: lighten(@blue, 50%);;

///////////////// BUTTON BASE - HOVER STATE ////////////////////
//@buttonBaseHoverBackgroundColour
//@buttonBaseHoverColour
//@buttonBaseHoverBackgroundGradientTopColour
//@buttonBaseHoverBackgroundGradientBottomColour
//@buttonBaseHoverBorderColour

///////////////// BUTTON BASE - DISABLED STATE ////////////////////
//@buttonBaseDisabledBackgroundColour
//@buttonBaseDisabledColour
//@buttonBaseDisabledBackgroundGradientTopColour
//@buttonBaseDisabledBackgroundGradientBottomColour
//@buttonBaseDisabledBorderColour


///////////////// BUTTON SAVE ////////////////////
///////////////// BUTTON SAVE - NORMAL STATE ////////////////////
//@buttonSaveNormalBackgroundColour
//@buttonSaveNormalColour
//@buttonSaveNormalBackgroundGradientTopColour
//@buttonSaveNormalBackgroundGradientBottomColour
//@buttonSaveNormalBorderColour

///////////////// BUTTON SAVE - HOVER STATE ////////////////////
//@buttonSaveHoverBackgroundColour
//@buttonSaveHoverColour
//@buttonSaveHoverBackgroundGradientTopColour
//@buttonSaveHoverBackgroundGradientBottomColour
//@buttonSaveHoverBorderColour

///////////////// BUTTON SAVE - DISABLED STATE ////////////////////
//@buttonSaveDisabledBackgroundColour
//@buttonSaveDisabledColour
//@buttonSaveDisabledBackgroundGradientTopColour
//@buttonSaveDisabledBackgroundGradientBottomColour
//@buttonSaveDisabledBorderColour

///////////////// BUTTON EDIT ////////////////////
///////////////// BUTTON EDIT - NORMAL STATE ////////////////////
//@buttonEditNormalBackgroundColour
//@buttonEditNormalColour
//@buttonEditNormalBackgroundGradientTopColour
//@buttonEditNormalBackgroundGradientBottomColour
//@buttonEditNormalBorderColour

///////////////// BUTTON EDIT - HOVER STATE ////////////////////
//@buttonEditHoverBackgroundColour
//@buttonEditHoverColour
//@buttonEditHoverBackgroundGradientTopColour
//@buttonEditHoverBackgroundGradientBottomColour
//@buttonEditHoverBorderColour

///////////////// BUTTON EDIT - DISABLED STATE ////////////////////
//@buttonEditDisabledBackgroundColour
//@buttonEditDisabledColour
//@buttonEditDisabledBackgroundGradientTopColour
//@buttonEditDisabledBackgroundGradientBottomColour
//@buttonEditDisabledBorderColour

///////////////// BUTTON CANCEL ////////////////////
///////////////// BUTTON CANCEL - NORMAL STATE ////////////////////
//@buttonCancelNormalBackgroundColour
//@buttonEditNormalColour
//@buttonEditNormalBackgroundGradientTopColour
//@buttonEditNormalBackgroundGradientBottomColour
//@buttonEditNormalBorderColour

///////////////// BUTTON CANCEL - HOVER STATE ////////////////////
//@buttonCancelHoverBackgroundColour
//@buttonCancelHoverColour
//@buttonCancelHoverBackgroundGradientTopColour
//@buttonCancelHoverBackgroundGradientBottomColour
//@buttonCancelHoverBorderColour

///////////////// BUTTON CANCEL - DISABLED STATE ////////////////////
//@buttonCancelDisabledBackgroundColour
//@buttonCancelDisabledColour
//@buttonCancelDisabledBackgroundGradientTopColour
//@buttonCancelDisabledBackgroundGradientBottomColour
//@buttonCancelDisabledBorderColour

///////////////// FORMS ////////////////////
//@inputBackroundColor
//@inputBorder
//@inputBorderRadius
//@inputPlaceHolderColour

///////////////// FORMS STATES ////////////////////
//@warningTextColour
//@warningBackgroundColour
//@warningBorderColour

//@errorTextColour
//@errorBackgroundColour
//@errorBorderColour

//@successTextColour
//@successBackgroundColour
//@successBorderColour

//@infoTextColour
//@infoBackgroundColour
//@infoBorderColour


///////////////// HORIZONTAL LINE ////////////////////
//@hrBorderColor


///////////////// PAGINATION ////////////////////
//@paginationLinkColour
//@paginationLinkHoverColour
//@paginationLinkDisabledColour
//@paginationBorderColour
//@paginationBorderHoverColour
//@paginationBorderDisabledColour
//@paginationBackgroundColour
//@paginationBackgroundHoverColour
//@paginationBackgroundDisabledColour

///////////////// TABLES ////////////////////
//@tableBackgroundColour
//@tableBorderColour
//@tableBodySelectedCellsColour
//@tableBodySelectedCellsAltColour
//@tableHeaderCellsColour
//@tableHeaderCellsSelectedColour

//Adminstration menu – more to come

// Font Stacks:
//
// http://www.sitepoint.com/eight-definitive-font-stacks
//
// The Times New Roman-based serif stack:
//
// Cambria, "Hoefler Text", Utopia, "Liberation Serif", 
// "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
//
// A modern Georgia-based serif stack:
//
// Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, 
// "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
//
// A more traditional Garamond-based serif stack:
//
// "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", 
// Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L",
// Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", 
// "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
//
// The Helvetica/Arial-based sans serif stack:
//
// Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
// "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", 
// "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
// 
// The Verdana-based sans serif stack:
//
// Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", 
// "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
//
// The Trebuchet-based sans serif stack:
//
// "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", 
// "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
// 
// The heavier “Impact” sans serif stack:
//
// Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
// "Bitstream Vera Sans Bold", "Arial Black", sans-serif
//
// The monospace stack:
//
// Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
// "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
// "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
//


