#jobdetails {

         form {
        p { color: @grayDark !important; }
}
	.inline-save { 
	background:@black !important;
        .gradient(#888888, #000000);
	color:@white;
       
    }
    .inline-cancel{
	background-color:#e1253b;
	.gradient(#f12a41, #e1253b);
	color:@white;
    }
    .head{
    background:@grayDark;
    }
    input.textSubmitButton {
	.form-button;
        }
}

#EQ7 { 

.leftAlign {
        color:@black;
    }
}

.RAHistoryNotes{
    color:@black !important;
}